export(calcSurv)
export(gamTerms)
export(Gw)
export(KM)
export(martPlot)
export(NelA)
export(NelAVar)
export(profLik)
export(quantile.Surv)
export(Sig)
export(survEst)
export(tne)
S3method(Sig,coxph)
S3method(tne,Surv)
