export(autoplot.survfit)
export(calcSurv)
export(comp)
export(covMatSurv)
export(cutp)
export(dxPlot)
export(gamTerms)
export(genDfSurv)
export(Gw)
export(KM)
export(locLR)
export(locScore)
export(locWald)
export(lrSS)
export(median)
export(NelA)
export(NelAVar)
export(profLik)
export(quantile)
export(quantile.Surv)
export(quantile.survfit)
export(Sig)
export(survEst)
export(tne)
S3method(comp,coxph)
S3method(comp,survfit)
S3method(cutp,coxph)
S3method(cutp,survfit)
S3method(dxPlot,coxph)
S3method(locLR,coxph)
S3method(locScore,coxph)
S3method(locWald,coxph)
S3method(mean,Surv)
S3method(median,coxph)
S3method(median,Surv)
S3method(median,survfit)
S3method(plot,Surv)
S3method(quantile,coxph)
S3method(Sig,coxph)
S3method(tne,coxph)
S3method(tne,Surv)
S3method(tne,survfit)
